<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section
    *ngIf="breadcrumbs[breadcrumbs.length - 1].label !== 'Home'"
    class="py-2"
    style="margin-top: 105px"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-9">
          <xng-breadcrumb>
            <ng-container *xngBreadcrumbItem="let breadcrumb">
              {{ breadcrumb | titlecase }}
            </ng-container>
          </xng-breadcrumb>
        </div>
        <!-- <div class="col-3">
          <h2>
            {{breadcrumbs[breadcrumbs.length - 1].label}}
          </h2>
        </div> -->
      </div>
    </div>
  </section>
</ng-container>
