<div class="container">
  <div *ngIf="(basketService.basketSourse$ | async) === null">
    <p>There are no products in your items</p>
  </div>

  <ng-container *ngIf="basketService.basketSourse$ | async as basket">
    <div class="container">
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-light text-uppercase">
              <tr>
                <th><div class="py-2">Product</div></th>
                <th><div class="py-2">Price</div></th>
                <th><div class="py-2">Quantity</div></th>
                <th><div class="py-2">Total</div></th>
                <th><div class="py-2">Remove</div></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of basket.items">
                <td class="align-middle custom-color">
                  <div class="d-flex align-items-center">
                    <img
                      src="{{ item.pictureUrl }}"
                      alt="{{ item.productName }}"
                      style="max-height: 50px;"
                      class="me-3"
                    />
                    <div>
                      <h5 class="mb-0">
                        <a href="" class="text-dark text-decoration-none">
                          {{item.productName}}
                        </a>
                      </h5>
                      <span class="text-muted fst-italic">
                        Type: {{item.type}}
                      </span>
                    </div>
                  </div>
                </td>
                <td class="align-middle">{{item.price | currency}}</td>
                <td class="align-middle">
                  <div class="d-flex align-items-center justify-content-center">
                    <i class="fa fa-minus me-2" style="cursor: pointer;"></i>
                    <div style="font-size: 1.5em;">{{item.quantity}}</div>
                    <i class="fa fa-plus ms-2" style="cursor: pointer;"></i>
                  </div>
                </td>
                <td class="align-middle">{{item.price * item.quantity | currency}}</td>
                <td class="align-middle text-center">
                  <a class="text-danger">
                    <i class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-6 offset-6">
          <app-order-totals></app-order-totals>
          <div class="d-grid">
            <a routerLink="/checkout" class="btn btn-success py-2">
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
