.cart-no {
    position: absolute;
    min-height: 23px;
    min-width: 23px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #1a1a1a;

    &.active {
        color: rgb(0, 0, 0, 0.3);
    }

    &.btn-primary {
        color: white;
    }
}

.logo {
    cursor: pointer;
}