<div class="bg-primary text-light px-4 py-3 text-uppercase fw-bold">
    Order summery
</div>

<div class="p-4">
    <p class="fst-italic mb-4">Shipping consts will be based on choices made during checkout</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSourse$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order subtotal</strong>
            <strong class="fw-bold">{{totals.subtotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping and handling</strong>
            <strong class="fw-bold">{{totals.shipping | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong class="fw-bold">{{totals.total | currency}}</strong>
        </li>
    </ul>
</div>